html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #222;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.9;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  min-height: 100vh;
  min-width: 320px;
  font-feature-settings: "kern", "liga", "pnum";
  text-rendering: optimizeLegibility; }
  @media only screen and (min-width: 480px) {
    body {
      font-size: 1rem; } }

html {
  position: relative;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a {
  text-decoration: none;
  color: #0074D9;
  border-bottom: 1px solid #0074D9;
  transition: color 200ms ease-in-out; }
  a:hover {
    color: #0059a6;
    border-bottom: 1px solid #0059a6; }

p {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem; }

strong {
  font-weight: 700; }

ul, ol {
  display: block;
  margin-bottom: 1rem;
  padding-left: 1.15rem;
  list-style-type: none; }

li {
  font-size: 1rem; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

code {
  padding: 0.25rem;
  color: #333;
  font-size: 0.95rem;
  background-color: #f5f5f5;
  border-radius: 4px;
  font-family: "Monaco", "Consolas", "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

pre {
  display: block;
  padding: 1.25rem 1.5rem;
  margin: 0 0 1rem;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #002B36;
  border-radius: 4px;
  font-family: "Monaco", "Consolas", "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 1rem; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

blockquote {
  border-left: 2px solid #D84A38;
  font-size: 1rem;
  padding-left: 1.5rem;
  color: #626262;
  margin: 2rem 0; }
  blockquote p:last-child {
    margin-bottom: 0; }

em, i {
  font-style: italic; }

.text-muted {
  color: #626262; }

img {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 2.5rem auto; }

hr {
  display: block;
  margin: 2rem auto;
  width: 20rem;
  border-top: 2px solid #EEE;
  border-bottom: none;
  border-left: none;
  border-right: none; }

.button {
  background-color: #0074D9;
  border: 1px solid #0074D9;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.95em 1.9em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .button:hover, .button:focus {
    background-color: #005dae;
    color: #fff;
    border: 1px solid #005dae; }
  .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    .button:disabled:hover {
      background-color: #0074D9; }

img.-yugto {
  margin: 3rem auto;
  width: auto; }

.text-center {
  text-align: center; }

hr {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: auto;
  width: 20rem;
  border-top: 2px solid #EEE;
  border-bottom: none;
  border-left: none;
  border-right: none; }

.button {
  margin: 1rem 0; }

.page-block {
  border-bottom: 1px solid #EEE; }
  .page-block::after {
    clear: both;
    content: "";
    display: block; }
  .page-block.-dark-block, .page-block.-red-block, .page-block.-blue-block {
    color: white; }
    .page-block.-dark-block a, .page-block.-red-block a, .page-block.-blue-block a {
      color: white; }
      .page-block.-dark-block a:hover, .page-block.-red-block a:hover, .page-block.-blue-block a:hover {
        color: #e6e6e6; }
  .page-block.-grey-block {
    background-color: #EEE; }
  .page-block.-dark-block {
    background-color: #444; }
  .page-block.-red-block {
    background-color: #D84A38; }
  .page-block.-blue-block {
    background-color: #0074D9; }

.page-block-container {
  padding: 2rem;
  margin: 0 auto;
  display: block; }
  .page-block-container::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (min-width: 768px) {
    .page-block-container {
      padding: 2rem; } }
  @media only screen and (min-width: 480px) {
    .page-block-container {
      padding: 4rem; } }
  @media only screen and (min-width: 480px) {
    .page-block-container {
      max-width: 768px; } }

.technology-list {
  padding-left: 0; }
  .technology-list > li {
    padding-left: 0;
    list-style-type: none; }
    @media only screen and (min-width: 480px) {
      .technology-list > li {
        display: inline-block;
        padding: 0 0.5rem; } }
  .technology-list > li {
    display: block;
    margin: 0 auto;
    padding: 1rem 0; }
    .technology-list > li img {
      margin-right: auto;
      margin-left: auto;
      display: block; }
    @media only screen and (min-width: 480px) {
      .technology-list > li {
        display: inline-block;
        padding: 0 1rem; } }
  .technology-list > li:first-child {
    padding-left: 0; }

.project-type {
  text-transform: uppercase;
  color: #AAA;
  font-size: 90%;
  display: block;
  margin-bottom: 1rem; }

.intro h3 {
  line-height: 1.5;
  font-weight: 400; }

.hero {
  width: 100%;
  background: url("../img/consulting/header_hero.jpeg") no-repeat center center;
  background-size: cover; }
  .hero::after {
    clear: both;
    content: "";
    display: block; }

.header-image {
  display: block; }
  .header-image img {
    margin: 0; }
  @media only screen and (min-width: 768px) {
    .header-image {
      display: none; } }

.hero-text {
  background: #0074D9;
  color: white; }
  @media only screen and (min-width: 768px) {
    .hero-text {
      margin-left: calc(50% + 0px); } }
  .hero-text .hero-text-container {
    padding: 2rem; }
    @media only screen and (min-width: 768px) {
      .hero-text .hero-text-container {
        padding: 2rem; } }
    @media only screen and (min-width: 480px) {
      .hero-text .hero-text-container {
        padding: 4rem; } }
    .hero-text .hero-text-container a {
      color: #f2f2f2;
      border-bottom: 1px solid #f2f2f2; }
      .hero-text .hero-text-container a:hover {
        color: white;
        border-bottom: 1px solid white; }
