<footer class="site-footer">
  <nav class="footer-links">
    <ul class="navigation-links-list">
      <li>
        {{ site.title }}
        &mdash;
      </li>
      <li>
        <a href="{{ site.baseurl }}/">home</a>
      </li>
      <li>
        <a href="{{ "/posts" | prepend: site.baseurl }}">blog</a>
      </li>
      <li>
        <a href="{{ "/contact" | prepend: site.baseurl }}">contact</a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss feed</a>
      </li>
    </ul>
  </nav>
</footer>

<script type="text/javascript" src="{{ "/assets/js/google-analytics.js" | prepend: site.baseurl }}"></script>
