.posts-list {
  .post-list-item {
    display: flex;

    &:first-child {
      padding-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

  }
}

.post-date-column {
  width: 128px;
  padding-right: 1rem;

  .post-date {
    color: lighten($text-color, 25%);
  }
}

.post-item-details {
  width: 95%;

  .post-item-link {
    display: block;
    margin-bottom: 0.5rem;
    color: $brand-primary;
    font-weight: 500;
    border-bottom: none;

    &:hover {
      color: darken($brand-primary, 10%);
    }
  }
}
