.posts-list {
  .post-link {
    display: block;
    color: $brand-primary;
    border-bottom: none;

    &:hover {
      color: darken($brand-primary, 10%);
    }
  }

  .post-list-item {
    padding: 3rem 0;
    border-bottom: 1px solid #ddd;

    &:first-child {
      padding-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.post-date {
  color: lighten($text-color, 25%);
}

