---
layout: portfolio
---

.hero
  .hero-container
    .header-image
    .header-hero
      %h1
        Hi, my name is Ace and I'm a software developer.

      %p.lead
        I have been in the software engineering industry for 7 years.
        Leading software teams and working with multiple departments in designing,
        developing and scaling maintainable, documented and testable software.
        Currently with Bloom Solutions as a Software Engineer.
        Previously as:
        %ul
          %li Solutions Architect at Amihan, designing solutions and providing technical direction for the Big Data practice.
          %li Senior Software Engineer at Orchestrack, AELogica and CSSLivePOS.
        %a{href: "github.com/ace-subido"}
          I build open-source software and contribute to it.
        Website design and other user interface experiments found here:
        %a{href: "codepen.io/ace-subido"}
          codepen.io/ace-subido
        %a{href: "wrapbootstrap.com/user/acesubido"}
          wrapbootstrap.com/user/acesubido

.page-block
  %h2 Case Studies and Past Projects

  These are a few of the things that I've worked on for companies and for other people.

  .case-study
  .case-study


.page-block
  .services
    .service-item
      .service-title
      .service-body

    .service-item
      .service-title
      .service-body

.page-block

