---
layout: portfolio
---

.hero
  .header-image
  .hero-text
    .hero-text-container
      %h1
        Hi, my name is Ace and I'm a software developer.

      %p
        I have been in the software engineering industry for 7 years.
        Leading software teams and working with multiple departments in designing,
        developing and scaling maintainable, documented and testable software.
      %p
        %a{href: "https://github.com/ace-subido"} I build open-source software and contribute to it.
        Website design and other user interface experiments found here:
        %a{href: "https://codepen.io/ace-subido"} codepen.io/ace-subido
        and at
        %a{href: "https://wrapbootstrap.com/user/acesubido"} wrapbootstrap.com/user/acesubido

.page-block
  .page-block-container
    %h2 Case Studies and Past Projects
    These are a few of the things that I've worked on for companies and for other people.
    .case-study
      %h4
      %span.project-type
      %p
      %img{src: "{{ '/img/portfolio/ ' | prepend: site.baseurl }}"}
    .case-study
      %h4
      %span.project-type
      %p
      %img{src: "{{ '/img/portfolio/ ' | prepend: site.baseurl }}"}
    .case-study
      %h4
      %span.project-type
      %p
      %img{src: "{{ '/img/portfolio/ ' | prepend: site.baseurl }}"}

.page-block.-dark-block
  .page-block-container
    .service-item
      .service-title
        %h3 Web Application Development
      .service-body
        %p
          Many teams follow practices described in “Extreme Programming Explained”, I follow the same more or less, depending on the setup.
        %h4 Ruby / Rails
        %p
          Many companies use Ruby on Rails to quickly launch prototypes and scaling it into massive production applications. It’s a very productive web framework that focuses on convention over configuration. Large internet platforms have this as a their core framework such as Github, Twitter, TwitchTV and AirBNB.

    .service-item
      .service-title
        %h3 Mobile Application Development
      .service-body

.page-block

