<footer class="site-footer">
  <nav class="footer-links">
    <ul class="footer-links-list">
      <li>
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        &mdash;
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via rss</a>
      </li>
      <li>
        <a href="http://github.com/ace-subido">github</a>
      </li>
      <li>
        <a href="http://codepen.io/ace-subido">codepen</a>
      </li>
      <li>
        <a href="http://twitter.com/acesubido">twitter</a>
      </li>
      <li>
        <a href="http://ph.linkedin.com/pub/ace-subido/61/77a/43b">linkedin</a>
      </li>
    </ul>
  </nav>
</footer>

