html
  position: relative
  min-height: 100%

body
  margin-bottom: 65px
  font-size: 16px
  font-family: Georgia, Times, 'Times New Roman', serif
  line-heigth: 1.6
  color: $text-color

body, html
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  font-smooth: always
