.site-footer
  position: absolute
  bottom: 0
  width: 100%
  padding: 20px 40px
  border-top: 1px solid #EEE
  color: #999

.footer-links
  @include outer-container

  a
    color: #999

    &:hover,
    &:active,
    &:focus
      color: #444

