.site-header
  display: block
  padding: 1rem 0
  margin-bottom: 2rem
  position: relative
  border-bottom: 1px solid #EEE

.site-title
  @include outer-container
  color: #999

  a
    font-weight: 400
    color: #999

    &:hover,
    &:active,
    &:focus
      color: #444

