.site-header
  display: block
  margin-top: 1rem
  margin-bottom: 1.5rem

.site-title
  font-size: 30px
  font-family: $monospaced-font-family
  color: $text-color

  &:hover,
  &:active,
  &:focus
    color: darken($text-color, 10%)

