.site-header
  display: block
  padding: 1rem 0
  margin-bottom: 2rem
  position: relative

.site-title
  padding-left: 40px
  color: #999

  a
    font-weight: 400
    color: #999

    &:hover,
    &:active,
    &:focus
      color: #444

