@font-face {
    font-family: 'DroidSerifRegular';
    src: url('../assets/DroidSerif-Regular-webfont.eot');
    src: url('../assets/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/DroidSerif-Regular-webfont.woff') format('woff'),
         url('../assets/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('../assets/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'DroidSerifRegular';
        src: url('../assets/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
        font-weight: normal;
    font-style: normal;
    }
}

body
{
    background-color: #2f061c;
}

.header
{
    margin-bottom: 15px;
}
.header h4
{
    margin: 0;
}
p, li
{
    line-height: 23px;
}

.footer 
{
    padding: 20px 0;    
}

.footer p
{
    color: #aaaaaa;
    font-size: 12px;
    line-height: 20px;
}

.footer .footer-links
{
    margin-bottom: 10px;
}

.footer .footer-links a
{
    margin: 0 10px;
}

.boxed 
{
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

img.head-logo
{
    display: block; 
    margin: 0px auto;
}

.menu
{
    text-align: center;    
}

.menu a
{
    font-family: 'DroidSerifRegular', Georgia, Serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin: 0 20px;
    color: #333333;
}

p.right
{
    text-align:right;
    
}

.row.marketing
{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    padding: 80px 30px;
    background: url('../assets/4.jpg') no-repeat center;       
    margin: 20px -20px 40px -20px;
}

.header-shadow
{    
    margin: 10px 0;
    height: 10px;
    background: url('../img/line-drop-shadow.png') no-repeat center top;
    border-top: 1px solid #e0e0e0;
}

p.contact-point 
{
    margin-top: 75px;
    color: #aaaaaa;
    font-size: 12px;
    line-height: 20px;
}


.hero-marketing
{
    border-top: 1px solid #333333;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
    background: url('../img/lightpaperfibers.png');
    font-family: 'DroidSerifRegular', Georgia, Serif;    
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.7);
    padding: 20px;
    
}

.content {
    margin-top: 30px;
}

.content img {
    margin: 20px auto;
    display: block;
}

.card-well
{    
    width:330px;    
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
    background: url('../img/lightpaperfibers.png');
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.hero-marketing p
{        

    margin-top: 20px;
}

img.home-shots
{
    margin: 15px 0px 10px 0px;
    padding-bottom: 20px;
    background: url('../img/thumb-shadow.png') bottom center no-repeat;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'DroidSerifRegular', Georgia, Serif;
}

.text-center
{
    text-align: center;
}

.action
{
    margin-top: 15px;
    
    text-align: center;
}

.action .btn {
    padding: 6px 20px 6px;
    line-height: 22px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.action .btn strong {
    display: block;
    font-size: 18px;
    font-weight: 400;
}


