---
layout: default
---

<section class="post-full">
  <header>
    <span class="post-date text-muted">
      {{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} • {{ page.author }} {% endif %}
      {% if page.meta %} • {{ page.meta }}
      {% endif %}
    </span>
    <h1 class="post-full-title">{{ page.title }}</h1>
  </header>
  <article>
    {{ content }}
  </article>
  <hr>
  <div class="post-navigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">
        <strong>Previous</strong><br>
        {{page.previous.title}}
      </a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">
        <strong>Next</strong><br>
        {{page.next.title}}
      </a>
    {% endif %}
  </div>
</section>
