.post-list
  margin-bottom: 2rem
  list-style-type: none
  padding-left: 0
  display: block

.post-excerpt
  margin: 0

  .post-meta
    margin: 0.5rem 0

    .post-link
      display: block
      color: $text-color

      &:hover,
      &:active,
      &:focus
        color: $brand-primary

.post-date
  color: lighten($text-color, 25%)

.post-content
  margin-top: 2rem
  margin-bottom: 2rem

.pagination
  @include inline-list()

  > li:first-child
    padding-left: 0

