hr {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: auto;
  width: 20rem;
  border-top: 2px solid #EEE;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

