.btn-cta {
  background-color: $brand-blue;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 1rem 0;

  &:hover,
  &:focus {
    background-color: shade($brand-blue, 20%);
    color: #fff;
    border-bottom: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $brand-blue;
    }
  }

}

.btn-group {
  display: inline-block;
}


