.hero {
  @include grid-container;
  width: 100%;
  background: url("../img/consulting/header_hero.jpeg") no-repeat center center;
  background-size: cover;
}

.header-image {
  display: block;

  img {
    margin: 0;
  }

  @media only screen and (min-width: 768px){
    display: none;
  }
}

.hero-text {
  background: $brand-blue;
  color: white;

  @media only screen and (min-width: 768px){
    @include grid-push(3, $header-grid);
  }

  .hero-text-container {
    @include block-padding;

    a {
      color: darken(white, 5%);
      border-bottom: 1px solid darken(white, 5%);

      &:hover {
        color: white;
        border-bottom: 1px solid white;
      }
    }
  }
}
