.technology-list {
  @include inline-list;

  > li {
    display: block;
    margin: 0 auto;
    padding: 1rem 0;

    img {
      margin-right: auto;
      margin-left: auto;
      display: block;
    }

    @media only screen and (min-width: 480px){
      display: inline-block;
      padding: 0 1rem;
    }
  }

  > li:first-child {
    padding-left: 0;
  }
}
