---
layout: consulting
---

.page-block.-grey-block
  .page-block-container
    .intro
      :markdown
        ### You're here because you probably want to work with me in building software or platforms

        ### So this is a short page describing **who** I am, **what** I've worked on and **how** we would work together.

.hero
  .header-image
    %img{src: "{{ '/img/consulting/header_hero.jpeg ' | prepend: site.baseurl }}"}
  .hero-text
    .hero-text-container
      :markdown
        # My name is Ace and I'm a software engineer.

        I have been in the software engineering industry for 8 years.
        Leading software teams and working with multiple departments in designing,
        developing and scaling maintainable, documented and testable software.

        Software Engineer, Senior Software Engineer, Research and Development Manager, Director of Product Engineering;
        these are some of the roles I've taken on. I currently work with **Bloom Solutions**,
        previously worked at Amihan Global Strategies, AELogica, Orchestronix and CSS LivePOS.

        [I build open-source software and contribute to it.](https://github.com/ace-subido)
        Website design and other user interface experiments found here:
        [codepen.io/ace-subido](https://codepen.io/ace-subido)
        and at [wrapbootstrap.com/user/acesubido](https://wrapbootstrap.com/user/acesubido)


.page-block
  .page-block-container
    %h2 Case Studies and Past Projects
    %p These are a few of the things I've worked on that I can openly talk about

    %h3 Yugto
    %span.project-type Prototyping
    %p Yugto was a mobile application prototype that was designed to help politicians mobilize their volunteers to help advance their campaigns
    %img.-yugto{src: "{{ '/img/consulting/yugto_account.png' | prepend: site.baseurl }}"}
    %img.-yugto{src: "{{ '/img/consulting/yugto_home.png' | prepend: site.baseurl }}"}
    %img.-yugto{src: "{{ '/img/consulting/yugto_invite.png' | prepend: site.baseurl }}"}

    %hr
    %h3 Graphecode
    %span.project-type Web Application Development
    %p
      Graphecode is a website for making clean and simple diagrams. Providing YAML documents via an editor, it generates these diagrams.
      %a{href: "https://graphecode.herokuapp.com"} (graphecode.herokuapp.com)
    %img{src: "{{ '/img/consulting/graphecode.png' | prepend: site.baseurl }}"}

    %hr
    %h3 Coin Jobs - Job Board
    %span.project-type Web Application Development
    %p Coinjobs is a job board for the cryptocurrency industry.
    %img{src: "{{ '/img/consulting/coinjobs.png' | prepend: site.baseurl }}"}

    %hr
    %h3 Whiteplane Business Theme
    %span.project-type Prototyping
    %p Whiteplane Business Theme was something that I was working on to place on wrapbootstrap.com
    %img{src: "{{ '/img/consulting/whiteplane-theme.png' | prepend: site.baseurl }}"}

.page-block.-dark-block
  .page-block-container
    :markdown
      ## Web Application and API Development Services

      Many teams follow practices described in “Extreme Programming Explained”, I follow the same more or less, depending on the setup.

      ### Ruby / Rails

      Many companies use Ruby on Rails to quickly launch prototypes and scaling it into massive production applications. It’s a very productive web framework that focuses on convention over configuration. Large internet platforms have this as a their core framework such as Github, Twitter, TwitchTV and AirBNB.

      ### Technologies

      Aside from Ruby and Rails, here's a list of a few other technologies that I can work with:

      #### Frameworks and Languages

      - Javascript
      - React
      - SASS

      #### Databases and Storage

      - PostgreSQL
      - Redis

      #### Infrastructure

      - Heroku
      - Amazon Web Services
      - Google Cloud Platform
      - Digital Ocean

    %small.muted * while I may not provide design and “brand establishing” related services, I have referrals on this aspect.

.page-block
  .page-block-container
    :markdown
      ## Development Process

      I apply agile development in terms of how things are built. Without going into nitty gritty
      details, here's a brief description of how this works:

      ### Planning

      First, we have a discussion on the 1) vision and ideas behind your project, and 2)
      your target users. This is important, because I value what you value, and I value what
      your users need from your product.

      Then, we run a requirements gathering phase just to fill up the Product Backlog for your alpha version.
      Afterwhich, we proceed to run the sprints. A sprint is a timeboxed effort to work on a set of features,
      the duration is a week. At the start of each sprint we plan for these set of features based on the Product Backlog.

      The Product Backlog is the contract. I believe that priorities change as time goes, so smaller increments of your
      product out there means you get to move faster and adjust your business strategy accordingly.
      This methodology is highly contrasting from some consultants/freelancers, where they just give you a ballpark estimate,
      you pay thousands and you find out 6 months in that your app idea didn't hit the mark. Large, vague estimates removes
      you from being part of the journey that lets you find out what part of the product strategy would work and wouldn't work.

      ### Active Development

      Everyday, we engage in daily calls or standups, typically in the morning or in the evening.
      We can do weekly instead if it's too tedious. We open up Trello or Pivotal Tracker, our task tracker
      to see what has been done and what’s next in the pipeline. At the end of each sprint you get a working
      version of your product released live, or depending on the product release cycles that was agreed upon.

      After a sprint finishes, we go back and do a retrospective, then take on another sprint until your alpha
      version is finished. This ensures working software over comprehensive documentation, you see your
      project progress as each day goes along. You have direct access to the source code of your product
      via Github or Bitbucket, based on your preference. You have a working version of your software by
      the end of each sprint.

.page-block
  .page-block-container
    :markdown
      ## Project Engagement Process

      I’m a developer, I want to design and develop software. Before I can do that, I need clients
      to hire me. The following section details how my engagement process works and commonly answers
      questions asked by potential clients. The overall process looks like this:

      ### Contact

      - Someone contacts me
      - I get to understand a little detail of the project/product in mind before the meeting starts

      ### Planning

      - Understanding vision for the product/solution and current pain points the product is solving.
      - Agree to the outcomes we're trying to achieve (write feature lists and initial wireframes).
      - Estimate the iterations.
      - Schedule when to work on the iterations.

      ### Active Development and Commercials

      - Signing the contract
      - 50% Payment for the first iteration or to keep things going you can just pay for all the iterations
      - Start working on the iteration
      - 50% Payment on delivery of the first iteration

.page-block.-red-block
  .page-block-container
    :markdown
      ## Typical Project Engagements

      Just so you'd have an idea, these are the typical project engagements I get into:

      ### Road to Alpha (Weekly Rate)

      Typically we spend the first week planning, discussing and making wireframes. Then we
      estimate iterations/sprints based on this. Each iteration gets you working software.
      By the end of the iterations, you’ll have your minimum viable product based on the backlog.

      ### Maintenance and Support (Retainer, Monthly Rate)

      This is for you if you have a current product that's doing great, and you need someone
      to maintain and build new features to keep it growing while you look for a permanent team.

.page-block
  .page-block-container.text-center
    :markdown
      ### Hopefully, this is enough helpful information to get your interest.

      ### So, let's get started?

    %a.btn-cta{href: "mailto:hello@acesubido.com"} Contact Me


