.hero {
  @include grid-container;
  width: 100%;
}

.header-image {
  @include grid-column(2, $header-grid);
}

.hero-text {
  background: $brand-blue;
  color: white;
  @include grid-column(3, $header-grid);

  .hero-text-container {
    @include block-padding;

    a {
      color: darken(white, 5%);
      border-bottom: 1px solid darken(white, 5%);

      &:hover {
        color: white;
        border-bottom: 1px solid white;
      }
    }
  }
}
