.page-block {
  @include clearfix;
  border-bottom: 1px solid #EEE;

  // Variants
  &.-dark,
  &.-red,
  &.-blue {
    color: white;

    a {
      color: white;

      &:hover {
        color: darken(white, 10%);
      }
    }
  }
  &.-dark { background-color: $brand-dark; }
  &.-red { background-color: $brand-red; }
  &.-blue { background-color: $brand-blue; }
}

.page-block-container {
  @include grid-container;
  @include block-padding;
  margin: 0 auto;
  display: block;

  @media only screen and (min-width: 480px) {
    max-width: 768px;
  }
}
