.page-block {
  @include clearfix;
  border-bottom: 1px solid #EEE;

  // Variants
  &.-dark {
    background-color: $brand-dark;
    color: white;
  }

  &.-red {
    background-color: $brand-red;
    color: white;
  }

  &.-blue {
    background-color: $brand-blue;
    color: white;

    a {
      color: white;

      &:hover {
        color: darken(white, 10%);
      }
    }
  }
}

