---
layout: default
---

.landing
  .landing-intro
    :markdown
      # Hi, my name is Ace Subido 👋

      ### I make software. I currently work at [Bloom Solutions](https://bloom.solutions) as a Software Engineer. I like writing and contributing open source software on [Github](https://github.com/ace-subido). I do this because I know it helps a lot of people in building things.

      ### I like writing about software development at [Medium](https://medium.com/@acesubido). Aside from writing about software development, I like to write about my experiences, certain world views, life lessons and events that would be helpful to my children, and to my future self.

      _Just keeping this short, I really find it awkward to write a 1st-person bio_ 😶

.landing-details
  :markdown
    #### Contact Details

    You can reach me on [Twitter](https://twitter.com/acesubido). I'm also on the following platforms:

    - [LinkedIn](https://www.linkedin.com/in/ace-subido-43b77a61/)
    - [Dribbble](https://dribbble.com/acesubido)
    - [Codepen](https://codepen.io/ace-subido)

    I live in the Philippines, so replies might not come in your timezone.

    #### Other Things In This Site

    - [My useful secret projects and business ideas](http://acesubido.com/2016/01/21/my-useful-secret-projects-and-business-ideas.html)
