---
layout: landing
---

.landing
  .landing-intro
    %h1.lead Hi, my name is Ace Subido 👋
    :markdown
      ### I make software. I currently work at [Shopify](https://shopify.com) as a Software Engineer for the Money Infrastructure Team. I make and contribute to open source software on [Github](https://github.com/ace-subido). I do this because I know it helps a lot of people in building things.

      ### I like writing about software engineering in here and over at [Medium](https://medium.com/@acesubido). Aside from writing about software, I like to write about my experiences, certain world views, life lessons and events that would be helpful to my children, and to my future self.

    %span.text-muted keeping this short, I find it awkward to write a 1st-person bio 😶

