---
layout: default
---

  <div class="posts-list">
    {% for post in paginator.posts %}
      <article class="post-list-item">
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </p>
        {{ post.excerpt }}
      </article>
    {% endfor %}
  </div>

  <ul class="pagination">
    {% if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      </li>
    {% else %}
      <li>
        <span class="previous">Previous</span>
      </li>
    {% endif %}
      <li>&middot;</li>
      <li>
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      </li>
      <li>&middot;</li>
    {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      </li>
    {% else %}
      <li>
        <span class="next ">Next</span>
      </li>
    {% endif %}
  </div>

